html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  color: white;
  background-color: oldlace;
  font-family: sans-serif;
  margin: 0px;
}

#centered {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  overflow-y: auto;
}

#centered1 {
  display: flex;
  align-items: right;
  justify-content: right;
  flex-grow: 1;
  overflow-y: auto;
}

.pg1 {
  flex-wrap: wrap;
  width: 300px;
  height: 300px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  color: white;
  background-color: #555;
}

.head {
  flex-wrap: wrap;
  width: 100%;
  top: 0;
  text-align: center;
  font-size: 2vw;
  font-weight: 600;
  color: blue;
  margin-top: 2vh;
}

.times {
  flex-wrap: wrap;
  width: 100%;
  top: 3%;
  text-align: center;
  font-size: 1vw;
  color: #555;
  margin-bottom: 2vh;
}

/* box btn queue */
.btnpg1 {
  display: grid;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  color: black;
  font-size: 1vw;
  margin-right: 2%;
  width: 14vw;
  height: auto;
}

/*===========================================*/
.pu1 {
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: red;
  border: 3px solid black;
  border-radius: 18px;
  color: black;
  font-size: 1vw;
  margin-bottom: 0.5vh;
  padding: 12px 12px;
  width: 14vw;
  height: 4vh;
}

.pu001 {
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: red;
  border: 3px solid black;
  border-radius: 18px;
  color: black;
  font-size: 1vw;
  margin-top: 0.5vh;
  padding: 12px 12px;
  width: 14vw;
  height: 4vh;
}

.pu01 {
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: red;
  border: 3px solid black;
  border-radius: 18px;
  color: black;
  font-size: 1vw;
  padding: 5vh 12px;
  flex-wrap: wrap;
  width: 14vw;
  height: auto;
}

/*===========================================*/

.btnpg2 {
  display: grid;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  color: black;
  font-size: 1vw;
  margin-right: 2%;
  width: 14vw;
  height: auto;
}

/*===========================================*/
.pu2 {
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #ff6600;
  border: 3px solid black;
  border-radius: 18px;
  color: black;
  font-size: 1vw;
  margin-bottom: 0.5vh;
  padding: 12px 12px;
  width: 14vw;
  height: 4vh;
}

.pu002 {
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #ff6600;
  border: 3px solid black;
  border-radius: 18px;
  color: black;
  font-size: 1vw;
  margin-top: 0.5vh;
  padding: 12px 12px;
  width: 14vw;
  height: 4vh;
}

.pu02 {
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #ff6600;
  border: 3px solid black;
  border-radius: 18px;
  color: black;
  font-size: 1vw;
  padding: 5vh 12px;
  flex-wrap: wrap;
  width: 14vw;
  height: auto;
}

/*===========================================*/

.btnpg3 {
  display: grid;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  color: black;
  font-size: 1vw;
  margin-right: 2%;
  width: 14vw;
  height: auto;
}
/*===========================================*/
.pu3 {
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #ffe400;
  border: 3px solid black;
  border-radius: 18px;
  color: black;
  font-size: 1vw;
  margin-bottom: 0.5vh;
  padding: 12px 12px;
  width: 14vw;
  height: 4vh;
}

.pu003 {
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #ffe400;
  border: 3px solid black;
  border-radius: 18px;
  color: black;
  font-size: 1vw;
  margin-top: 0.5vh;
  padding: 12px 12px;
  width: 14vw;
  height: 4vh;
}

.pu03 {
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #ffe400;
  border: 3px solid black;
  border-radius: 18px;
  color: black;
  font-size: 1vw;
  padding: 5vh 12px;
  flex-wrap: wrap;
  width: 14vw;
  height: auto;
}

/*===========================================*/

.btnpg4 {
  display: grid;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  color: black;
  font-size: 1vw;
  margin-right: 2%;
  width: 14vw;
  height: auto;
}

/*===========================================*/
.pu4 {
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #6eb800;
  border: 3px solid black;
  border-radius: 18px;
  color: black;
  font-size: 1vw;
  margin-bottom: 0.5vh;
  padding: 12px 12px;
  width: 14vw;
  height: 4vh;
}

.pu004 {
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #6eb800;
  border: 3px solid black;
  border-radius: 18px;
  color: black;
  font-size: 1vw;
  margin-top: 0.5vh;
  padding: 12px 12px;
  width: 14vw;
  height: 4vh;
}

.pu04 {
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #6eb800;
  border: 3px solid black;
  border-radius: 18px;
  color: black;
  font-size: 1vw;
  padding: 5vh 12px;
  flex-wrap: wrap;
  width: 14vw;
  height: auto;
}

/*===========================================*/

.btnpg5 {
  display: grid;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  color: black;
  font-size: 1vw;
  margin-right: 2%;
  width: 14vw;
  height: auto;
}

/*===========================================*/
.pu5 {
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #0059ca;
  border: 3px solid black;
  border-radius: 18px;
  color: black;
  font-size: 1vw;
  margin-bottom: 0.5vh;
  padding: 12px 12px;
  width: 14vw;
  height: 4vh;
}

.pu005 {
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #0059ca;
  border: 3px solid black;
  border-radius: 18px;
  color: black;
  font-size: 1vw;
  margin-top: 0.5vh;
  padding: 12px 12px;
  width: 14vw;
  height: 4vh;
}

.pu05 {
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #0059ca;
  border: 3px solid black;
  border-radius: 18px;
  color: black;
  font-size: 1vw;
  padding: 5vh 12px;
  flex-wrap: wrap;
  width: 14vw;
  height: auto;
}

/*===========================================*/

.btnpg6 {
  display: grid;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  color: black;
  font-size: 1vw;
  margin-right: 2%;
  width: 14vw;
  height: auto;
}

/*===========================================*/
.pu6 {
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #6a00ca;
  border: 3px solid black;
  border-radius: 18px;
  color: black;
  font-size: 1vw;
  margin-bottom: 0.5vh;
  padding: 12px 12px;
  width: 14vw;
  height: 4vh;
}

.pu006 {
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #6a00ca;
  border: 3px solid black;
  border-radius: 18px;
  color: black;
  font-size: 1vw;
  margin-top: 0.5vh;
  padding: 12px 12px;
  width: 14vw;
  height: 4vh;
}

.pu06 {
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #6a00ca;
  border: 3px solid black;
  border-radius: 18px;
  color: black;
  font-size: 1vw;
  padding: 5vh 12px;
  flex-wrap: wrap;
  width: 14vw;
  height: auto;
}

/*===========================================*/

.btnpg7 {
  display: grid;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  color: black;
  font-size: 1vw;
  margin-right: 2%;
  width: 14vw;
  height: auto;
}

/*===========================================*/
.pu7 {
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #8b5300;
  border: 3px solid black;
  border-radius: 18px;
  color: black;
  font-size: 1vw;
  margin-bottom: 0.5vh;
  padding: 12px 12px;
  width: 14vw;
  height: 4vh;
}

.pu007 {
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #8b5300;
  border: 3px solid black;
  border-radius: 18px;
  color: black;
  font-size: 1vw;
  margin-top: 0.5vh;
  padding: 12px 12px;
  width: 14vw;
  height: 4vh;
}

.pu07 {
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #8b5300;
  border: 3px solid black;
  border-radius: 18px;
  color: black;
  font-size: 1vw;
  padding: 5vh 12px;
  flex-wrap: wrap;
  width: 14vw;
  height: auto;
}

/*===========================================*/

.btnpg8 {
  display: grid;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  color: black;
  font-size: 1vw;
  margin-right: 2%;
  width: 14vw;
  height: auto;
}

/*===========================================*/
.pu8 {
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #b1b1b1;
  border: 3px solid black;
  border-radius: 18px;
  color: black;
  font-size: 1vw;
  margin-bottom: 0.5vh;
  padding: 12px 12px;
  width: 14vw;
  height: 4vh;
}

.pu008 {
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #b1b1b1;
  border: 3px solid black;
  border-radius: 18px;
  color: black;
  font-size: 1vw;
  margin-top: 0.5vh;
  padding: 12px 12px;
  width: 14vw;
  height: 4vh;
}

.pu08 {
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #b1b1b1;
  border: 3px solid black;
  border-radius: 18px;
  color: black;
  font-size: 1vw;
  padding: 5vh 12px;
  flex-wrap: wrap;
  width: 14vw;
  height: auto;
}

/*===========================================*/

.btnpg9 {
  display: grid;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  color: black;
  font-size: 1vw;
  margin-right: 2%;
  width: 14vw;
  height: auto;
}

/*===========================================*/
.pu9 {
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #ff00ff;
  border: 3px solid black;
  border-radius: 18px;
  color: black;
  font-size: 1vw;
  margin-bottom: 0.5vh;
  padding: 12px 12px;
  width: 14vw;
  height: 4vh;
}

.pu009 {
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #ff00ff;
  border: 3px solid black;
  border-radius: 18px;
  color: black;
  font-size: 1vw;
  margin-top: 0.5vh;
  padding: 12px 12px;
  width: 14vw;
  height: 4vh;
}

.pu09 {
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #ff00ff;
  border: 3px solid black;
  border-radius: 18px;
  color: black;
  font-size: 1vw;
  padding: 5vh 12px;
  flex-wrap: wrap;
  width: 14vw;
  height: auto;
}

/*===========================================*/

.btnpg10 {
  display: grid;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  color: black;
  font-size: 1vw;
  margin-right: 2%;
  width: 14vw;
  height: auto;
}

/*===========================================*/
.pu10 {
  text-align: center;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(120deg, red 90%, white 10%);
  border: 3px solid black;
  border-radius: 18px;
  color: black;
  font-size: 1vw;
  margin-bottom: 0.5vh;
  padding: 12px 12px;
  width: 14vw;
  height: 4vh;
}

.pu0010 {
  text-align: center;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(120deg, red 37%, white 10%);
  border: 3px solid black;
  border-radius: 18px;
  color: black;
  font-size: 1vw;
  margin-top: 0.5vh;
  padding: 12px 12px;
  width: 14vw;
  height: 4vh;
}

.pu010 {
  text-align: center;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(120deg, red 60%, white 50%);
  border: 3px solid black;
  border-radius: 18px;
  color: black;
  font-size: 1vw;
  padding: 5vh 12px;
  flex-wrap: wrap;
  width: 14vw;
  height: auto;
}

/*===========================================*/

.btnpg11 {
  display: grid;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  color: black;
  font-size: 1vw;
  margin-right: 2%;
  width: 14vw;
  height: auto;
}

/*===========================================*/
.pu11 {
  text-align: center;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(120deg, orange 90%, white 10%);
  border: 3px solid black;
  border-radius: 18px;
  color: black;
  font-size: 1vw;
  margin-bottom: 0.5vh;
  padding: 12px 12px;
  width: 14vw;
  height: 4vh;
}

.pu0011 {
  text-align: center;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(120deg, orange 37%, white 10%);
  border: 3px solid black;
  border-radius: 18px;
  color: black;
  font-size: 1vw;
  margin-top: 0.5vh;
  padding: 12px 12px;
  width: 14vw;
  height: 4vh;
}

.pu011 {
  text-align: center;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(120deg, orange 60%, white 50%);
  border: 3px solid black;
  border-radius: 18px;
  color: black;
  font-size: 1vw;
  padding: 5vh 12px;
  flex-wrap: wrap;
  width: 14vw;
  height: auto;
}

/*===========================================*/

.btnpg12 {
  display: grid;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  color: black;
  font-size: 1vw;
  margin-right: 2%;
  width: 14vw;
  height: auto;
}

/*===========================================*/
.pu12 {
  text-align: center;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(120deg, #ffe400 90%, white 10%);
  border: 3px solid black;
  border-radius: 18px;
  color: black;
  font-size: 1vw;
  margin-bottom: 0.5vh;
  padding: 12px 12px;
  width: 14vw;
  height: 4vh;
}

.pu0012 {
  text-align: center;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(120deg, #ffe400 37%, white 10%);
  border: 3px solid black;
  border-radius: 18px;
  color: black;
  font-size: 1vw;
  margin-top: 0.5vh;
  padding: 12px 12px;
  width: 14vw;
  height: 4vh;
}

.pu012 {
  text-align: center;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(120deg, #ffe400 60%, white 50%);
  border: 3px solid black;
  border-radius: 18px;
  color: black;
  font-size: 1vw;
  padding: 5vh 12px;
  flex-wrap: wrap;
  width: 14vw;
  height: auto;
}

/*===========================================*/

.btnpg13 {
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
    150deg,
    rgba(110, 184, 0, 1) 55%,
    rgba(255, 255, 255, 1) 100%
  );
  border: 1px solid #000;
  border-radius: 18px;
  color: black;
  padding: 10px 8px;
  font-size: 1vw;
  margin-top: 1%;
  margin-right: 1%;
}

.btnpg14 {
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
    150deg,
    rgba(0, 89, 202, 1) 55%,
    rgba(255, 255, 255, 1) 100%
  );
  border: 1px solid #000;
  border-radius: 18px;
  color: black;
  padding: 10px 8px;
  font-size: 1vw;
  margin-top: 1%;
  margin-right: 1%;
}

.btnpg15 {
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
    150deg,
    rgba(106, 0, 202, 1) 55%,
    rgba(255, 255, 255, 1) 100%
  );
  border: 1px solid #000;
  border-radius: 18px;
  color: black;
  padding: 10px 8px;
  font-size: 1vw;
  margin-top: 1%;
  margin-right: 1%;
}

.btnpgqr {
  align-items: center;
  justify-content: center;
  display: grid;
  background-color: #ff00ff;
  border: 1px solid #000;
  border-radius: 18px;
  color: black;
  padding: 30px 30px;
  font-size: 1vw;
  margin-top: 1%;
  margin-right: 2%;
}

/*END box btn queue*/

.counter {
  width: 14vw;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 1.7vw;
  color: white;
  margin-bottom: 5%;
  font-weight: 600;
  text-shadow: 0 0 20px black;
}

.counter1 {
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 5vw;
  font-weight: 700;
  color: white;
  text-shadow: 0 0 30px #000;
  margin-top: 30%;
}

.counter2 {
  width: 14vw;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 1.7vw;
  color: white;
  margin-bottom: 5%;
  font-weight: 600;
  text-shadow: 0 0 20px black;
}

#bottom1 {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: #555;
  flex-wrap: wrap;
  font-size: 0.7vw;
  text-align: center;
  justify-content: center;
  margin-top: 2%;
}

.divider {
  width: 100%;
  border: 1px solid #555;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  border: 2px 2px;
}

.txt1 {
  flex-wrap: wrap;
  width: 100%;
  top: 0;
  text-align: center;
  font-size: 1.5vw;
  font-weight: 600;
  color: blue;
  margin-top: 1%;
}

.txt2 {
  flex-wrap: wrap;
  width: 100%;
  top: 0;
  text-align: center;
  font-size: 1vw;
  color: #ff5757;
  margin-bottom: 1%;
}

.tbq {
  background-color: #f2ffe3;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
}

tr {
  width: 100%;
}

th {
  font-size: 1.1vw;
  background-color: #ff355e;
  color: #f2ffe3;
  padding: 0.2%;
}

td {
  font-size: 1.2vw;
  background-color: #ffa0a0;
}

.imgqr {
  width: 300px;
  height: 300px;
  text-align: center;
  padding: 1px;
}
